In [2]:
import pandas as pd
df  =pd.read_csv(r'C:\Users\Admin\Desktop\ml model\Data for MSC Thesis\ourproject3.csv')
df.head(15)

,ea_id,cs2q01,saq14,saq01,saq02,saq03,saq04,saq05,saq06,saq07,cs2q02,cs2q03,cs2q04,cs2q05_1,cs2q05_2,cs2q05_oth,cs2q06,cs2q07,cs2q07_oth
0,20101010100104,1,2. URBAN,2. AFAR,1,1,1,1,1,4,**CONFIDENTIAL**,1. Male,50,1. Chairman/woman,3. Elderly,NaN,50,1. None/ illitrate,NaN
1,20101010100104,2,2. URBAN,2. AFAR,1,1,1,1,1,4,**CONFIDENTIAL**,1. Male,40,3. Elderly,11. Other (Specify),Local administrator,40,3. Primary school completed,NaN
2,20101010100104,3,2. URBAN,2. AFAR,1,1,1,1,1,4,**CONFIDENTIAL**,1. Male,37,11. Other (Specify),NaN,Political party bureau head,37,3. Primary school completed,NaN
3,20101010100104,4,2. URBAN,2. AFAR,1,1,1,1,1,4,**CONFIDENTIAL**,1. Male,38,11. Other (Specify),NaN,Vital events officer,38,2. Incomplete primary school,NaN
4,20101010100104,5,2. URBAN,2. AFAR,1,1,1,1,1,4,**CONFIDENTIAL**,1. Male,60,3. Elderly,NaN,NaN,27,2. Incomplete primary school,NaN
5,20101088800704,1,1. RURAL,2. AFAR,1,1,8,88,7,4,**CONFIDENTIAL**,1. Male,50,1. Chairman/woman,NaN,NaN,50,1. None/ illitrate,NaN
6,20101088800704,2,1. RURAL,2. AFAR,1,1,8,88,7,4,**CONFIDENTIAL**,1. Male,65,3. Elderly,NaN,NaN,65,1. None/ illitrate,NaN
7,20101088800704,3,1. RURAL,2. AFAR,1,1,8,88,7,4,**CONFIDENTIAL**,1. Male,32,2. Representative,NaN,NaN,32,2. Incomplete primary school,NaN
8,20101088800704,4,1. RURAL,2. AFAR,1,1,8,88,7,4,**CONFIDENTIAL**,1. Male,41,5. School Teacher,NaN,NaN,8,7. Other (Specify),Above Secondary school
9,20102010100103,1,2. URBAN,2. AFAR,1,2,1,1,1,3,**CONFIDENTIAL**,1. Male,36,1. Chairman/woman,NaN,NaN,36,5. Secondary school completed,NaN
10,20102010100103,2,2. URBAN,2. AFAR,1,2,1,1,1,3,**CONFIDENTIAL**,1. Male,75,3. Elderly,NaN,NaN,75,1. None/ illitrate,NaN
11,20102010100103,3,2. URBAN,2. AFAR,1,2,1,1,1,3,**CONFIDENTIAL**,1. Male,60,3. Elderly,NaN,NaN,60,1. None/ illitrate,NaN
12,20102010100103,4,2. URBAN,2. AFAR,1,2,1,1,1,3,**CONFIDENTIAL**,1. Male,46,3. Elderly,NaN,NaN,46,6. Above Secondary school,NaN
13,20102010100103,5,2. URBAN,2. AFAR,1,2,1,1,1,3,**CONFIDENTIAL**,1. Male,22,6. Agricultural Extension/Development Officier,NaN,NaN,22,6. Above Secondary school,NaN
14,20103010100203,1,2. URBAN,2. AFAR,1,3,1,1,2,3,**CONFIDENTIAL**,1. Male,56,1. Chairman/woman,NaN,NaN,56,3. Primary school completed,NaN